@media screen and (max-width: 1070px) {
  .container {
    width: 970px;
  }
  main.main div.main__events-sevenoaks-wrap section.main__upcoming-events-wrap {
    width: 450px;
  }
  main.main div.main__events-sevenoaks-wrap article {
    width: 450px;
  }
}
@media screen and (max-width: 1015px) {
  .container {
    width: 750px;
  }
  header.header div.header__logo-nav-wrap div.header__search-nav-wrap nav.header__nav ul.header__nav-list li.header__nav-item {
    margin-right: 30px;
  }
  main.main div.main__events-sevenoaks-wrap section.main__upcoming-events-wrap {
    width: 350px;
  }
  main.main div.main__events-sevenoaks-wrap article {
    width: 350px;
  }
  footer.footer div.footer__signup-service-connect-wrap {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer.footer div.footer__signup-service-connect-wrap section h2 {
    font-size: 14px;
  }
  footer.footer div.footer__signup-service-connect-wrap section button {
    padding: 9px 54px;
  }
  footer.footer div.footer__signup-service-connect-wrap section:nth-child(2) {
    margin-right: 0;
  }
  footer.footer div.footer__signup-service-connect-wrap section:nth-child(2) h4 {
    font-size: 12px;
  }
  footer.footer div.footer__signup-service-connect-wrap section:nth-child(2) p {
    font-size: 12px;
  }
  footer.footer div.footer__signup-service-connect-wrap section:last-child {
    margin-right: 0;
  }
  footer.footer div.footer__signup-service-connect-wrap section:last-child ul li {
    margin-right: 3px;
  }
}
@media screen and (max-width: 796px) {
  .container {
    width: 500px;
  }
  header.header div.header__logo-nav-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.header div.header__logo-nav-wrap figure.header__logo-title-wrap {
    margin: 22px 0 0 0;
  }
  header.header div.header__logo-nav-wrap div.header__search-nav-wrap ul.header__search-list {
    right: -77px;
  }
  header.header div.header__logo-nav-wrap div.header__search-nav-wrap nav.header__nav ul.header__nav-list li.header__nav-item {
    margin-right: 30px;
  }
  header.header div.header__logo-nav-wrap div.header__search-nav-wrap nav.header__nav ul.header__nav-list li.header__nav-item:last-child {
    margin-right: 0;
  }
  main.main {
    padding-top: 20px;
  }
  main.main section.main__figures-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main.main section.main__figures-wrap figure {
    margin-top: 20px;
  }
  main.main div.main__events-sevenoaks-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  main.main div.main__events-sevenoaks-wrap section.main__upcoming-events-wrap {
    width: 100%;
  }
  main.main div.main__events-sevenoaks-wrap article {
    width: 100%;
    margin-top: 40px;
  }
  footer.footer div.footer__signup-service-connect-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer.footer div.footer__signup-service-connect-wrap section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  footer.footer div.footer__signup-service-connect-wrap section h2 {
    font-size: 20px;
  }
  footer.footer div.footer__signup-service-connect-wrap section button {
    padding: 9px 94px;
  }
  footer.footer div.footer__signup-service-connect-wrap section:nth-child(2) {
    margin: 30px 0 0 0;
  }
  footer.footer div.footer__signup-service-connect-wrap section:nth-child(2) h4 {
    font-size: 14px;
    letter-spacing: 0.6px;
    margin-top: 15px;
  }
  footer.footer div.footer__signup-service-connect-wrap section:last-child {
    margin: 30px 0 0 0;
  }
  footer.footer p {
    text-align: center;
    font-size: 12px;
    color: #b3b3b3;
    margin: 7px 0 0 0;
  }
}
@media screen and (max-width: 550px) {
  .container {
    width: 300px;
  }
  header.header div.header__logo-nav-wrap figure.header__logo-title-wrap {
    margin: 22px 0 0 0;
  }
  header.header div.header__logo-nav-wrap div.header__search-nav-wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.header div.header__logo-nav-wrap div.header__search-nav-wrap ul.header__search-list {
    padding: 5px 12px 5px 12px;
    right: -12px;
  }
  header.header div.header__logo-nav-wrap div.header__search-nav-wrap ul.header__search-list li.header__search-item:nth-child(3) {
    margin-right: 40px;
  }
  header.header div.header__logo-nav-wrap div.header__search-nav-wrap ul.header__search-list button.header__btn-search {
    margin-right: 10px;
  }
  header.header div.header__logo-nav-wrap div.header__search-nav-wrap nav.header__nav ul.header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header.header div.header__logo-nav-wrap div.header__search-nav-wrap nav.header__nav ul.header__nav-list li.header__nav-item {
    margin-right: 0;
  }
  header.header div.header__logo-nav-wrap div.header__search-nav-wrap nav.header__nav ul.header__nav-list li.header__nav-item:last-child {
    margin-right: 0;
  }
  header.header section.slider__wrap h2.slider__welcome-text-bold {
    width: 300px;
  }
}
